body {
  background-image: url("./images/img-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.message {
  height: 100vh;
}

.gif {
  margin: 0 auto;
}
